<div class="container">
  <header>
    <div
      class="w-100 d-flex justify-content-between flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow"
    >
      <a href="/" class="my-0 mr-md-auto d-block fw-bold text-dark  text-decoration-none">Boom Shop</a>
      <nav class="my-2 my-md-0 mr-md-3">
        {{#if isHome}}
         <a class="p-2 text-dark" href="/">Home</a>
        {{else}}
         <a class="p-2 text-dark text-decoration-none" href="/">Home</a>
        {{/if}}
        {{#if isAbout}}
         <a class="p-2 text-dark" href="/about">About</a>
        {{else}}
         <a class="p-2 text-dark text-decoration-none" href="/about">About</a>
        {{/if}}
        {{#if isProducts}}
         <a class="p-2 text-dark" href="/products">Products</a>
        {{else}}
         <a class="p-2 text-dark text-decoration-none" href="/products">Products</a>
        {{/if}}
        {{#if isAdd}}
         <a class="p-2 text-dark" href="/add">Add</a>
        {{else}}
         <a class="p-2 text-dark text-decoration-none" href="/add">Add</a>
        {{/if}}
      </nav>
      <div class="d-flex gap-2">
      <a class="btn btn-primary" href="/login">Login</a>
      <a class="btn btn-success" href="/register">Registr</a>

      </div>
    </div>
  </header>

</div>