<!DOCTYPE html>
{{!-- HEAD --}}
{{> head}}
<body>
  {{!-- NAVBAR --}}
  {{> navbar }}
  {{!-- BODY --}}
  <div class="container p-3 px-md-4">
    {{{body}}}
  </div>

  {{!-- FOOTER --}}
  {{> footer}}
</body>
</html>