<div class="container">
  <form action="/login" method="POST" class="w-50 mx-auto">
    <h1 class="fs-1 text-center mb-3">Login</h1>
    <div class="form-floating mb-3">
      <input
        type="email"
        class="form-control"
        id="floatingInput"
        name="email"
        placeholder="name@example.com"
      />
      <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating">
      <input
        type="password"
        class="form-control"
        name="password"
        id="floatingPassword"
        placeholder="Password"
      />
      <label for="floatingPassword">Password</label>
    </div>
      <button type="submit" class="btn btn-success mt-3 w-100">Login</button>
  </form>

</div>